*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI';
}


body{

background:#f4f7fb;
color:#222;

}



header{

background:#102542;
color:white;
padding:20px;
text-align:center;

}


nav{

margin-top:15px;

}


nav a{

color:white;
margin:20px;
text-decoration:none;

}


.hero{

height:400px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

background:
linear-gradient(
rgba(16,37,66,.8),
rgba(16,37,66,.8)
),
url("https://images.unsplash.com/photo-1523240795612-9a054b0db644");


background-size:cover;

color:white;

}


.hero h2{

font-size:40px;

}


.hero p{

font-size:18px;
margin:20px;

}


button{

background:#00b4d8;
border:none;
padding:12px 25px;
border-radius:20px;
color:white;
cursor:pointer;

}



.cards{

display:flex;
justify-content:center;
gap:30px;
padding:40px;

}



.card{

background:white;
padding:30px;
width:280px;
text-align:center;
border-radius:15px;

box-shadow:0 5px 20px #ccc;


}



section{

padding:40px;
text-align:center;

}



.skill-box,
.placement{

background:white;
padding:30px;
margin:auto;
width:60%;
border-radius:15px;

}



.progress{

background:#ddd;
height:30px;
margin:20px;

border-radius:20px;

}


.python{

background:#00b4d8;
width:85%;
height:30px;
border-radius:20px;

color:white;

}


.ml{

background:#0077b6;
width:70%;
height:30px;
border-radius:20px;
color:white;

}



.soft{

background:#48cae4;
width:60%;
height:30px;
border-radius:20px;

color:white;

}



table{

width:80%;
margin:auto;
background:white;
border-collapse:collapse;

}


td,th{

padding:15px;
border:1px solid #ddd;

}



form{

width:50%;
margin:auto;

}



input,textarea{

width:100%;
padding:15px;
margin:10px;

border-radius:10px;
border:1px solid #aaa;

}



textarea{

height:120px;

}


footer{

background:#102542;
color:white;
padding:20px;
text-align:center;

}



@media(max-width:800px){

.cards{

flex-direction:column;
align-items:center;

}

.skill-box,
.placement,
form{

width:90%;

}

}
